# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_names = school_data_complete["school_name"]
unique_school_names=school_names.unique()
A_school_names=len(unique_school_names)

In [3]:
# Calculate the total number of students 39170
student_count = school_data_complete["size"]
unique_student_count=student_count.unique()
summm=unique_student_count.sum()
summm

39170

In [4]:
# Calculate the total budget 24649428
total_budget =  school_data_complete["budget"]
unique_budget_count=total_budget.unique()
total_budget=unique_budget_count.sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score 78.98537145774827
average_math_score = school_data_complete["math_score"]
total=len(average_math_score)
summ=sum(average_math_score)
avg=summ/total
avg

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"]
total_r=len(average_reading_score)
summ_r=sum(average_reading_score)
read_avg=summ_r/total_r
read_avg

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math=school_data_complete.loc[(school_data_complete["math_score"] >= 70), :]
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / (summm) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70), :]
passing_reading_count =  school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / (summm) *100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70) , :]
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(summm) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Total_schools": [A_school_names] ,"budget_total": [total_budget],"avg_math": [avg],'avg_read':[read_avg],'% Passing Math': [passing_math_percentage],'% Passing Reading': [passing_reading_percentage],'% Overall Passing': [overall_passing_rate]})

# Formatting

# Display the DataFrame
district_summary

,Total_schools,budget_total,avg_math,avg_read,% Passing Math,% Passing Reading,% Overall Passing
0,15,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
# Create an overview table that summarizes key metrics about each school
# School Name
grouped_school_df = school_data_complete.groupby(["school_name"])
# School Type
schoolType = grouped_school_df["type"].first()
# Total Students
totalStudents = grouped_school_df["Student ID"].count()
# Total School Budget
totalSchoolBudget = grouped_school_df["budget"].first()
# Per Student Budget
perStudentBudget = totalSchoolBudget / totalStudents
# Average Math Score
averageMathScore = grouped_school_df["math_score"].mean()
# Average Reading Score
averageReadingScore = grouped_school_df["reading_score"].mean()
# % Passing Math
passingMath = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
percentagePassingMath = passingMath / totalStudents * 100
# % Passing Reading
passingRead = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
percentagePassingReading = passingRead / totalStudents * 100
# Overall Passing Rate (Average of the above two)
percentageOverallPassingRate = (percentagePassingMath + percentagePassingReading) / 2

# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type": schoolType,
      "Total Students": totalStudents,
      "Total School Budget": totalSchoolBudget,
      "Per Student Budget": perStudentBudget,
      "Average Math Score": averageMathScore,
      "Average Reading Score": averageReadingScore,
      "% Passing Math": percentagePassingMath,
      "% Passing Reading": percentagePassingReading,
      "% Overall Passing Rate": percentageOverallPassingRate})

# Sort and display the top five schools in overall passing rate
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False)

# Optional: give the displayed data cleaner formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [13]:
# Calculate the total school budget and per capita spending
perStudentBudget = totalSchoolBudget / totalStudents

In [16]:
# Use the provided code to calculate the passing rates
per_school_passing_math = percentagePassingMath.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = percentagePassingReading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = percentageOverallPassingRate.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

KeyError: 'student_name'

## Highest-Performing Schools (by % Overall Passing)

In [17]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
# This is just a sort in the right direction. (Day 2 activity 8)

school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

In [18]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=True)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

In [19]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade. Hint: use a conditional statement.
# Group each series by school
grade9th_ds = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
grade10th_ds = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
grade11th_ds = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
grade12th_ds = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

# Combine the series into a dataframe
grade_summary_df = pd.DataFrame({"9th": grade9th_ds,
      "10th": grade10th_ds,
      "11th": grade11th_ds,
      "12th": grade12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [20]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
tenth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
eleventh_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
twelfth_graders_scores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()



# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores[1]
tenth_grader_reading_scores = tenth_graders_scores[1]
eleventh_grader_reading_scores = eleventh_graders_scores[1]
twelfth_grader_reading_scores = twelfth_graders_scores[1]


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade=pd.DataFrame({"9th": ninth_grade_reading_scores,
      "10th": tenth_grader_reading_scores,
      "11th": eleventh_grader_reading_scores,
      "12th": twelfth_grader_reading_scores},index=[0])

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

         9th       10th       11th       12th
0  83.676136  84.253219  83.788382  84.287958

## Scores by School Spending

In [40]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["$585", "$585-630", "$630-645", "$645-680"]

In [41]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df2 = school_summary_df.copy()

In [43]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df2["Spending Ranges (Per Student)"] = pd.cut(school_spending_df2["Per Student Budget"], spending_bins, labels=labels).head()
# type error "" '<' not supported between instances of 'int' and 'str'"" 
# i took out the '<' sign from the labels but this is still throwing an error...? fix later if possible

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df2.groupby(["Per Student Budget"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df2.groupby(["Per Student Budget"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df2.groupby(["Per Student Budget"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df2.groupby(["Per Student Budget"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df2.groupby(["Per Student Budget"]).mean()["% Overall Passing Rate"]

In [48]:
# Assemble into DataFrame
spending_summary = pd.DataFrame["math":[spending_math_scores],"reading":[spending_reading_scores],"pasinng mathematics":[spending_passing_math],"passing reading":[spending_passing_reading],"cost per student passing both math and reading":[overall_passing_spending]]

# Display results
spending_summary

# print(school_spending_df2["Per Student Budget"].max()) 
# print(school_spending_df2["Per Student Budget"].min())

TypeError: 'type' object is not subscriptable

## Scores by School Size

In [49]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [50]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

school_data_complete["school_size"] = pd.cut(school_data_complete["size"], size_bins, labels = labels)

In [54]:
# Calculate averages for the desired columns. 
size_math_scores = school_summary_df.groupby(["Total Students"]).mean()["Average Math Score"]
size_reading_scores = school_summary_df.groupby(["Total Students"]).mean()["Average Reading Score"]
size_passing_math = school_summary_df.groupby(["Total Students"]).mean()["% Passing Math"]
size_passing_reading = school_summary_df.groupby(["Total Students"]).mean()["% Passing Reading"]
size_overall_passing = school_summary_df.groupby(["Total Students"]).mean()["% Overall Passing Rate"]

In [56]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary=pd.DataFrame(size_math_scores,size_reading_scores,size_passing_math,size_passing_reading,size_overall_passing)
size_summary

% Passing Math,92.505855,94.594595,93.392371,93.272171,93.867121,93.333333,94.133477,93.867718,68.309602,65.683922,65.988471,66.366592,66.752967,66.057551,66.680064
Average Reading Score,,,,,,,,,,,,,,,
83.814988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.044699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.816757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.848930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.725724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.955000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.975780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83.989488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.746258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81.182722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81.158020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.744686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.934412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.966394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81.033963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Scores by School Type

In [74]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores =  school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_summary_df.groupby(["School Type"]).mean()["% Overall Passing Rate"]

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores[1]
average_reading_score_by_type = type_reading_scores[1]
average_percent_passing_math_by_type = type_passing_math[1]
average_percent_passing_reading_by_type = type_passing_reading[1]
average_percent_overall_passing_by_type = type_overall_passing[1]

In [75]:
# Assemble the new data by type into a DataFrame called `type_summary`

grouped_type_df = school_summary_df.groupby(["School Type"])
type_summary_df = grouped_type_df.mean()
#
type_summary_df[["Average Math Score",
                "Average Reading Score",
                "% Passing Math",
                "% Passing Reading",
                "% Overall Passing Rate"]]

# Display results
type_summary_df

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,,
Charter,1524.250000,83.473852,83.896421,93.620830,96.586489,95.103660
District,3853.714286,76.956733,80.966636,66.548453,80.799062,73.673757